<div class="container log-in-box">
	<div clas="row">
	<img src="/logo.png" class="logo-keep-running">
	
	<center><p class="text-info"><b>The best website where you can find any routes for runners.</P><P class="text-info"> Don't wait, sign up and start right away! Let's GO!</b></p><br><center>
	

	<%= link_to 'auth/facebook' do %><img src="icons/log-in-facebook.png" class="logo-keep-running"><% end %>
	<%= link_to 'auth/twitter' do %><img src="icons/log-in-twitter.png" class="logo-keep-running"><% end %>
	<%= link_to 'auth/github' do %><img src="icons/log-in-github.png" class="logo-keep-running"><% end %>

	<br><p><blockquote>
	  <p class="cite-motivation">Look around you and don't let fear decide your future.</p>
	  <small><cite title="Source Title">Shalane Flanagan</cite></small>
	</blockquote></p>
	</div>
</div>