<div class="col-md-2"></div>
<div class="col-md-8 profile-user">
	<% @history.each do |history| %>
		<% count= 0 %>
		<%= history.name %> <%= history.location %>  <%= history.difficulty %> <%= @history_date[count].date %> 
		<% count += 1 %>
	<% end %>

</div>
<div class="col-md-2"></div>