<div class="col-md-2"></div>
<div class="col-md-8 map-route">
	<div class="col-md-4">
		<div class="menu-div">
			<%= link_to addHistory_path do %>
			<button type="button" class="btn btn-default btn-lg menu-btn-map">
				<span class="glyphicon glyphicon-copy menu-icon"></span>
				<p>ADD TO MY HISTORY</p>
			</button>
			<% end %>

		</div>
		<div class="clearfix"></div>
		<div class="info-route">
			<p><b><%= @route.name %></b></p>
			<p><b>Location:</b> <%= @route.location %></p>
			<p><b>Difficulty:</b> <%= @route.difficulty %></p>
		</div>
	</div>
	<div class="col-md-8">
	<div id="googleMap" class="mapGoogle"></div>
	</div>
</div>
<div class="col-md-2"></div>

<script type="text/javascript">

$(document).ready(function(){
	// ---------- Taking URL
	this_url = window.location.href;

	// ---------- ROUTES SPOTS ------------ //
	var latitude, longitude, origin_lat, origin_lng, destination_lat, detination_lng;
	var wp_latitude=[], wp_longitude=[];

	$.ajax({
        	type: 'GET',
        	dataType: 'json',
        	url: this_url,
        	success: function(data) { takingRoute(data); }
   	})

	function takingRoute(data)
	{
		latitude = data.route.latitude;
		longitude = data.route.longitude;
		origin_lat = data.route.origin_lat;
		origin_lng = data.route.origin_lng;
		destination_lat = data.route.destination_lat;
		destination_lng = data.route.destination_lng;

		for(i=0;i<data.waypoints.length;i++)
		{
			wp_latitude.push(data.waypoints[i].latitude);
			wp_longitude.push(data.waypoints[i].longitude);
		}
		initialize();
	}




	// ------------------ GOOGLE MAP API ----------------------- //
	var rendererOptions = {
	  draggable: true
	};
	var directionsDisplay = new google.maps.DirectionsRenderer(rendererOptions);;
	var directionsService = new google.maps.DirectionsService();
	var map;


	function initialize()
	{
		if(latitude)
		{
		// Añadimos LONGITUD y LATITUD de la posicion deseada.
		var myCenter=new google.maps.LatLng(latitude, longitude);

		var mapProp = {
			center:myCenter,
			zoom:15,
			mapTypeId:google.maps.MapTypeId.ROADMAP
			};

		var map=new google.maps.Map(document.getElementById("googleMap"),mapProp);
		directionsDisplay.setMap(map);

		// Añadimos una marca en el mapa
		var marker=new google.maps.Marker({
			position:myCenter,
			});

		marker.setMap(map);

		// Añadimos un comentario en la marca del mapa
		var infowindow = new google.maps.InfoWindow({
			content:"Hello World!"
			});

		google.maps.event.addListener(marker, 'click', function() {
			infowindow.open(map,marker);
			});

		// Dibujar la ruta
		calcRoute();
		}
	}

			
	function calcRoute() {
		var request = {
			origin: new google.maps.LatLng(origin_lat, origin_lng), // ORIGEN
			destination: new google.maps.LatLng(destination_lat, destination_lng), // DESTINO

			waypoints:[],

			travelMode: google.maps.TravelMode.WALKING
		};

		/* Preparamos el array de los puntos del recorrido */
		takingPaths=[];

			for(var i=0;i<wp_latitude.length;i++)
			{
				takingPaths.push({location: new google.maps.LatLng(wp_latitude[i], wp_longitude[i])});
			}

		request.waypoints = takingPaths;


			
		directionsService.route(request, function(response, status) {
		    if (status == google.maps.DirectionsStatus.OK) {
		      	directionsDisplay.setDirections(response);
		    }
		});
	}

	google.maps.event.addDomListener(window, 'load', initialize);
});
</script>


