/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body{
	background-image: url("/images/background.jpg");
	background-attachment: fixed;  
	background-size: cover;
}

header{
	background-color: rgba(222, 236, 247, 1);
	position: fixed;
	padding-top: 0.5%;
	padding-bottom: 0.5%;

	width: 100%;
}

.info-list-routes{
	background-color: white;
	margin-top: 2%;
	margin-bottom: 2%;
}

.select-route-dropdownbox{

}

#route_location{
	width: 12%;
	float: right;
	
}

.mapGoogle{
	width:600px;
	height:480px;
	margin: auto;
	margin-top: 1%;
	margin-bottom: 1%;
}

.float-left{
	float: left;
}

.float-right{
	float: right;
}