/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

.profile-user-div{
	background-color: rgba(255, 255, 255, 0.8);
	padding-top: 1%;
	margin-top: 8%;
	width:950px;
	height:500px;
	margin-left: -4%;
	-webkit-box-shadow: 10px -11px 40px -2px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px -11px 40px -2px rgba(0,0,0,0.75);
	box-shadow: 10px -11px 40px -2px rgba(0,0,0,0.75);
}

.profile-user-img{
	display: block;
	margin: auto;
	margin-top: 7%;
}

.profile-user-name{
	margin-top: 1%;
	text-align: center;
	font-size: 2rem;
	font-weight: bold;
}

.profile-user-stars{
	text-align: center;
	font-size: 20px;
}

.profile-img-stars{
	height: 40px;
	padding-bottom: 3px;
}

.profile-user-info{
	margin-top: 3%;
	border: 2px solid black;
	border-radius: 10px;
	padding: 1%;
}

.profile-user-info-textcolumn{
	font-weight: bold;
	font-size: 18px;
}

.profile-user-info-text{
	text-decoration: italic;
}

.number-routes-completed{
	font-size: 4rem;
	line-height: 90%;
	margin-left: -25%;
}

.text-routes-completed{
	text-align: center;
	margin-left: -15%;
	font-style: italic;

}

.hr-separate{
	border: 1px solid black;
	margin: 0%;
	margin-bottom: 1.5%;
}

.btn-edit-profile{
	margin: 0;
	padding: 0;
	padding-right: 3%;
	padding-left: 3%;
	font-size: 14px;
	border-radius: 0px;
	margin-top: 4%;
}

.table-lastest-routes{
	font-size: 12px;
}