/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

.log-in-box{
	background-color: rgba(255, 255, 255, 0.8);
	width: 500px;
	height: 400px;
	position: absolute;
	right: 10%;
	top: 17%;
    margin-bottom: 5%;
    margin-right: 10%;
    border-radius: 1%;
	-webkit-box-shadow: 10px -11px 40px -2px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px -11px 40px -2px rgba(0,0,0,0.75);
	box-shadow: 10px -11px 40px -2px rgba(0,0,0,0.75);
}

.logo-keep-running{
	display: block;
	margin: auto;
	margin-top: 2%;
}

.cite-motivation{
	font-size: 15px;
}