/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

.info-list-routes{
	background-color: rgba(255, 255, 255, 0.9);
	width: 70%;
	display: block;
	margin: auto;
	margin-top: 5%;
	margin-left: 15%;
	-webkit-box-shadow: 10px -11px 40px -2px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px -11px 40px -2px rgba(0,0,0,0.75);
	box-shadow: 10px -11px 40px -2px rgba(0,0,0,0.75);
}

tr.click-row-routes { cursor: pointer; }

.map-route{
	background-color: rgba(255, 255, 255, 0.8);
	padding-top: 1%;
	margin-top: 1%;
	width:850px;
	height:500px;
	margin-right: 7%;
	-webkit-box-shadow: 10px -11px 40px -2px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px -11px 40px -2px rgba(0,0,0,0.75);
	box-shadow: 10px -11px 40px -2px rgba(0,0,0,0.75);
}

#route_location{
	width: 13%;
	float: right;
	
}

.mapGoogle{
	width:600px;
	height:480px;
	float: right;
}

.float-left{
	float: left;
}

.float-right{
	float: right;
}

.menu-btn-map{
	font-size: 14px;
	width: 174px;
	height: 70px;
	margin-right: 5%;
	margin-left: -23%;
	margin-top: 8%;
}

.info-route{
	border: 1px solid black;
	margin-top: 8%;
	width: 70%;
	text-align: center;
	padding-top: 2%;
	background-color: white;
}




/* Ventana emergente que muestra la elevacion del terreno*/
.modalmaskElevation {
    position: fixed;
    font-family: Arial, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
    width:850px;
	height:250px;
	padding: 0;
	margin-top: 17%;
	margin-left: 16.65%;
}
.modalmaskElevation:target {
    opacity:1;
    pointer-events: auto;
}

.movedown {
    margin: 0 auto;
}

.modalmaskElevation:target .movedown{       
    margin: 7% auto;
}

.closeElevation {
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: 1px;
    text-align: center;
    top: 1px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    border-radius:3px;
 
}
 
.close:hover {
    background: #FAAC58;
    color:#222;
}

/* Ventana emergente que muestra el tiempo*/
.modalmaskWeather {
    position: fixed;
    font-family: Arial, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
    width:850px;
	height:450px;
	padding: 0;
	margin-top: 10%;
	margin-left: 16.65%;
}
.modalmaskWeather:target {
    opacity:1;
    pointer-events: auto;
}

.movedown {
    margin: 0 auto;
}

.modalmaskWeather:target .movedown{       
    margin: 7% auto;
}

.closeElevation {
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: 1px;
    text-align: center;
    top: 1px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    border-radius:3px;
 
}
 
.close:hover {
    background: #FAAC58;
    color:#222;
}

#div-weather{
	background-color: white;
}

.table-weather{
	text-align: center;
	margin-top: -25px;
}
.img-weather{
	margin-top: -15px;
	margin-bottom: -15px;
}

th{
	text-align: center;
}
/* Ventana emergente que muestra que se ha añadido la ruta al historial*/
#modal-addhistory{
	z-index: 9999;
	margin-top: 5rem;
	text-align: center;
}

.modal-click-background{
	background-color: #00FF37 !important;
}

.tw-button{
    margin-top: 2%;
    margin-left: 23%;
}

.tw-text{
    font-size: 10px;
    margin-left: 24%;
    margin-top: 4%;
    line-height: 1%;
}
