<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
	<title>KeepRunning</title>
  	<%= stylesheet_link_tag    'application', media: 'all' %>
  	<%= javascript_include_tag 'application' %>
  	<%= csrf_meta_tags %>
</head>
<body>

<%= yield %>


<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBSZq47VF4aOIIJOTXqI4q916hDXW0E6eA"></script>
</body>
</html>
